<section>
  <h4>Demo</h4>
</section>
<br>
<section>
  <div id="dropdown-demo"
       class="ng-dropdown"
       dropdown="suggestionService.firstDropdown"
       dropdown-menu="dropdown-demo-menu"
       dropdown-open-class="open"
       dropdown-active-class="active"
       dropdown-option-class="option"
       dropdown-prevent-on-click="true">
    <input ng-model="suggestionService.firstQuery"
           suggestion
           suggestion-model="suggestionService.firstQuery"
           suggestion-dropdown="suggestionService.firstDropdown"
           suggestion-url="suggestionService.firstLookupUrl"
           suggestion-response-property="Search"
           suggestion-params="{ s: suggestionService.firstQuery }"
           class="ng-dropdown-field"
           placeholder="Search for move titles..." />
    <div id="dropdown-demo-menu" class="ng-dropdown-menu">
      <div ng-repeat="option in suggestionService.options"
           ng-bind="option.Title"
           ng-click="suggestionService.firstQuery = option.Title;
                     suggestionService.firstSelection = option"
           class="option"></div>
    </div>
  </div>
</section>
<br>
<section>
  <small>Full option object:</small>
  <pre class="margin-0"
       ng-bind="toJson(suggestionService.firstSelection)"></pre>
</section>
<br>